* {
  @apply box-border;
}
body {
  background: url("./assets/img/spid.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: right 100px;
}
