* {
  @apply box-border;
}
body {
  background: url("./assets/img/spiderman.png");
  background-repeat: no-repeat;
  background-size: 12%;
  background-attachment: fixed;
  background-position: right 140px;
  z-index: 55;
}
